* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.sfondo-f4f9fd {
    background-color: #f4f9fd;
}

.btn {
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #fe775a;
}

.btn-lg {
    padding: 20px;
    margin: 0;
}

.btn-white {
    background-color: #fafcfe;
    color: #fe775a;
}

.btn-orange {
    background-color: #fe775a;
    color: white;
}

.w-50 {
    width: 50%;
}

.header-superiore {
    height: 60px;
    line-height: 60px;
}

.header-superiore-left {
    width: 50%;
    height: 100%;
    text-align: left;
}

.header-superiore-right {
    width: 50%;
    height: 100%;
    text-align: right;
}

.list-inline {
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding: 0 20px 0 0;
}

.list-inline a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.barra-menu {
    height: 60px;
    line-height: 60px;
}

.barra-menu-left {
    width: 50%;
    height: 100%;
    text-align: left;
}

.barra-menu-right {
    width: 50%;
    height: 100%;
    text-align: right;
    padding-right: 10px;
}

.barra-menu-left > img {
    height: 50%;
    vertical-align: middle;
}

.fa-chevron-down {
    margin-left: 5px;
}

.sfondo-jumbotron {
    background-image: url('img/jumbotron.png');
    /* height: 615px; */
}

.jumbotron {
    /* position: relative; */
    height: 612px;
}

.jumbotron-text {
    /* position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); */
}

h1 {
    font-size: 50px;
    padding-top: 50px;
    line-height: 50px;

}

.jumbotron-text > p {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    font-size: 18px;
}

.jumbotron-text > a {
    text-decoration: none;
}

.jumbotron-text > div {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    font-size: 14px;
}

.sfondo-afebe4 {
    background-color: #afebe4;
    height: 60px;
    border-top: 3px solid #688d95;
    border-bottom: 3px solid #688d95;
}

.sfondo-grigio {
    background-color: #f4f9fd;
    height: 1000px;
}

.sfondo-grigio > div {
    height: 100px;
}

.sfondo-grigio img {
    height: 100%;
}
